*{
    margin: 5px;
    text-decoration: none;
    
}

.body-contain{
    padding-left: 200px;
    padding-right: 200px;
    max-width: 100%;
    min-width:30%;
    max-height: 100%;
    min-height: 30%;
    width:auto ;
    height: max-content;
    display: grid;
    background-image: url(/imagenes/2621231.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100%;
    font-family: monospace, Verdana, Geneva, Tahoma, sans-serif;
    
}



.header-contain{
    display: grid;
    background-color: rgba(0, 0, 0, 0.897);
  
}

.nav-contain{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    text-align: center;
    border: rgb(255, 1, 1) 4px solid;
}

.color-a{
    font-family: monospace, Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration: underline red;
    font-size: 25px;

}

/*
de acá hacia arriba es el header
*/


.Main-contain{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    color: white;
}



.section-contain2{
    grid-column: 3;
    background-color: rgba(0, 0, 0, 0.897);
    grid-row: 3 span;
    border: red 2px solid;
    
}

.div-ul-1{
    padding-top: 30px;
    font-size: larger;
}

.div-ul-2{
    padding-top: 70px;
    font-size: larger;
}



.container-ul h1{
    text-decoration: underline red;
   
}
.section-contain3{
    background-color: rgba(0, 0, 0, 0.897);
    grid-column: 1 /3   ;
    grid-row: 1 / 6;
    border: red 2px solid;
    
    
}

.section-contain3 .section-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.section-3 h1{
    grid-column: 1 / span 3;
    text-align: center;
    text-decoration: underline red;
    font-size: 40px;
}

.section-3 p{
    grid-column: 1 / span 3;
    text-align: center;
    font-size: 25px;
}


.section-contain3 .div-imagen{
   justify-content: center;

}

#imagen-central-2{
    margin: 0%;
    padding: 0%;
  max-width: 100%;
  max-height: 100%;
    

}

.texto-central{
    background-color: rgb(128, 240, 133);
}


/*
De acá para arriba es el main -container 
*/

.footer{
    display: flex;
    height: max-content;
    width: auto;
    background-color: rgba(0, 0, 0, 0.897);
    justify-content: center;
    place-items: center;
    border: red 2px solid;
    
    
}

.a-footer{
    padding-left: 100px;
    padding-right: 100px;
}

.img-footer{
    min-width: 20px;
    max-width: 35px;
    

}



/*
De aca hacia arriba es la parte articulos... esta parte la movi a, menu
*/


/*
<section class="section-contain1">
            <div class="texto-central">
                       
                <h1 class="h1-central">Titulo del articulo</h1>
                <h3 class="subtitulo-central">Subtitulo del articulo</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus minima, tempore, sint nam qui libero modi at accusantium consequuntur officia ipsum, est earum voluptatem maxime. Nemo, illum id? Neque, eius.</p>
                       
            </div>
        </section>*/