*{
    margin: 5px;
    text-decoration: none;
}

.body-contain{
    padding-left: 200px;
    padding-right: 200px;
    max-width: 100%;
    min-width:30%;
    max-height: 100%;
    min-height: 30%;
    width:auto ;
    height: auto;
    display: grid;
    background-image: url(/imagenes/2621231.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}



.header-contain{
    display: grid;
    background-color: rgba(0, 0, 0, 0.644);
  
    
}

.nav-contain{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    text-align: center;
    border: rgb(255, 1, 1) 4px solid;
}

.color-a{
    font-family: monospace, Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration: underline red;
    font-size: 25px;

}

/*
de acá hacia arriba es el header
*/


.Main-contain{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 2fr);
    color: white;
}

.section-contain1{
    background-color: green;
    grid-column: span 3;
   
}

.section-contain2{
    background-color: hotpink; 
    grid-row: span 4;
}
.section-contain3{
    background-color: rgba(0, 0, 0, 0.644);
    grid-row: span 4;
    grid-column: span 3;
    
}

.section-contain3 .section-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.section-3 h1{
    grid-column: 1 / span 3;
    text-align: center;
    text-decoration: underline red;
    font-size: 40px;
}

.section-3 p{
    grid-column: 1 / span 3;
    text-align: center;
    font-size: 25px;
}


.section-contain3 .div-imagen{
   justify-content: center;

}

#imagen-central-2{
    margin: 0%;
    padding: 0%;
  max-width: 100%;
  max-height: 100%;
    

}

.texto-central{
    background-color: lightcoral;
}


/*
De acá para arriba es el main -container 
*/

.div-articulos-contain{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
}


.articulo1, .articulo2, .articulo3, .articulo4  {
    background-color: rgba(0, 0, 0, 0.644);
    grid-row: span 7 ;
}
.div-articulos{
    color: white
}

.div-articulos h1{
    text-decoration: underline red 3px;

}

.img-img{
    width: 700px;
    height: 300px;
    max-height: 100%;
    max-width: 100%;
}

.footer{
    background-color: darkgreen;
    grid-column: span 4;
}
/*
De aca hacia arriba es la parte articulos
*/
